* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    font-family: 'Lobster','Helvetica',sans-serif;
    margin: 10px 0;
}


input {
    width: 150px;
    height: 25px;
}

button {
    background-color: rgb(105, 231, 179);
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 100px;
    margin: 10px;
}

main {
    border-top: 1px solid black;
    display: flex;
}

.press-S,.press-L {
height: 300px;  
width: 300px;
padding-top: 100px;
padding-left: 90px;

}

.press-S {
    border-right: 1px solid black;
}




#canvas-s {
    width: 350px;
    height: 400px;
    position: absolute;
     top: 250px;
    left:200px; 

}

#canvas-l {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 250px;
    right: 200px;
}

#LS {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 250px;

}

